.DS_Store
.DS_Store?
.ipynb_checkpoints
**/*.exe
**/*.iml
.idea
idx*/**
__pycache__
*.pyc
week3/mnist/*
week3/data/mnist.npz
week3/data/train.csv
week7/PCA-lib/*
week7/cifar-10-python.tar.gz
week12/mnist/*
week12/MeanField-lib/*
week12/data-b/test.csv
week12/data-b/train.csv
week13/data-mnist/*
week13/data-cfar10/*
mnist.npz
